In [1]:
desc = '''
작성일 ; 2019.06.13
작성자 : hygoni (유형곤)
설명 : 
이 파일은 실험 결과를 분석하기 위한 것으로
filtering.xlsx를 보면 정상인(con)과 실험자(test)의 RNA 발현량이 표기되어있다.
1. 이때 발현량이 0인 요소를 0.01로 치환하고 (division by zero 방지)
2. 발현량의 ratio를 구한 후
3. ratio가 2배 이상 / 0.5배 이하인 경우만을 가져와서
4. 해당 유전자의 기능을 표시할 것이다.

따라서 이 코드의 결과는 생물학 실험 후 RNA 발현량이 2배 이상 높아지거나
절반 이상 감소한 유전자를 추출해 유전자의 설명을 붙이는 것이 된다.

Date : 2019.06.13
Writer : hygoni

Description :
This is for analyzing the result of biological experiment.
the filtering.xlsx contains the amount of gene expressions of con (normal) and test (test)
what we gonna do is:
1. replacing value 0 to 0.01 (Preventing devision by zero)
2. getting the ratio of gene expression
3. selecting up 2x fold or down 2x fold
4. adding description to each gene

so the result of this code will be extracting genes that the expression is 
more than / or less than two times comparing to normal one.
and adding description to genes we extracted above.

'''

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('./filtering.xlsx')
df

         genename         con      test
0             Cd9    0.164069  1.014300
1   1700015E13Rik    0.389471  0.772065
2         Ptprcap    0.311668  0.617299
3          Wfdc10    1.190230  0.444131
4        Hist1h3d    0.815874  0.396972
5          Hmgcs2    0.493136  0.323772
6   B230119M05Rik    0.467594  0.405688
7           Arl5c    0.000000  0.089134
8          Ifitm3    0.000000  0.087987
9           Accsl    0.020296  0.000000
10         Mbd3l2    0.021015  0.000000
11        Mir1966  108.666000  0.000000
12        Gm12238   17.668800  0.000000
13        Snora78    6.483700  0.000000
14        Snora81    2.575930  0.000000

In [4]:
df = df.applymap(lambda x: 0.01 if x == 0 else x)
df

         genename         con      test
0             Cd9    0.164069  1.014300
1   1700015E13Rik    0.389471  0.772065
2         Ptprcap    0.311668  0.617299
3          Wfdc10    1.190230  0.444131
4        Hist1h3d    0.815874  0.396972
5          Hmgcs2    0.493136  0.323772
6   B230119M05Rik    0.467594  0.405688
7           Arl5c    0.010000  0.089134
8          Ifitm3    0.010000  0.087987
9           Accsl    0.020296  0.010000
10         Mbd3l2    0.021015  0.010000
11        Mir1966  108.666000  0.010000
12        Gm12238   17.668800  0.010000
13        Snora78    6.483700  0.010000
14        Snora81    2.575930  0.010000

In [5]:
df['ratio'] = df['test'] / df['con']

In [6]:
df_up2x = df[df['ratio'] >= 2]
df_down2x = df[df['ratio'] <= 0.5]
pd.concat([df_up2x, df_down2x])

    genename         con      test     ratio
0        Cd9    0.164069  1.014300  6.182155
7      Arl5c    0.010000  0.089134  8.913430
8     Ifitm3    0.010000  0.087987  8.798710
3     Wfdc10    1.190230  0.444131  0.373147
4   Hist1h3d    0.815874  0.396972  0.486560
9      Accsl    0.020296  0.010000  0.492713
10    Mbd3l2    0.021015  0.010000  0.475846
11   Mir1966  108.666000  0.010000  0.000092
12   Gm12238   17.668800  0.010000  0.000566
13   Snora78    6.483700  0.010000  0.001542
14   Snora81    2.575930  0.010000  0.003882

In [7]:
geneInfo = pd.read_excel('./vlookup.xlsx')
geneInfo.head()

   genename                                        Description
0   Gm15772  Mus musculus predicted gene 15772 (Gm15772), n...
1   Snora52  Mus musculus small nucleolar RNA, H/ACA box 52...
2     H2-Q8             histocompatibility 2, Q region locus 8
3  Snord15b                                                NaN
4     Rpph1  Mus musculus ribonuclease P RNA component H1 (...

In [8]:
df = df.merge(geneInfo, how='inner')
df = df.sort_values(by='ratio', ascending=False)
df

,genename,con,test,ratio,Description
7,Arl5c,0.010000,0.089134,8.913430,ADP-ribosylation factor-like 5C
8,Ifitm3,0.010000,0.087987,8.798710,interferon induced transmembrane protein 3
0,Cd9,0.164069,1.014300,6.182155,CD9 antigen
1,1700015E13Rik,0.389471,0.772065,1.982343,RIKEN cDNA 1700015E13 gene
2,Ptprcap,0.311668,0.617299,1.980630,"protein tyrosine phosphatase, receptor type, C..."
6,B230119M05Rik,0.467594,0.405688,0.867607,Mus musculus RIKEN cDNA B230119M05 gene (B2301...
5,Hmgcs2,0.493136,0.323772,0.656557,3-hydroxy-3-methylglutaryl-Coenzyme A synthase 2
9,Accsl,0.020296,0.010000,0.492713,1-aminocyclopropane-1-carboxylate synthase hom...
4,Hist1h3d,0.815874,0.396972,0.486560,"histone cluster 1, H3d"
10,Mbd3l2,0.021015,0.010000,0.475846,methyl-CpG binding domain protein 3-like 2
3,Wfdc10,1.190230,0.444131,0.373147,WAP four-disulfide core domain 10
14,Snora81,2.575930,0.010000,0.003882,"Mus musculus small nucleolar RNA, H/ACA box 81..."
13,Snora78,6.483700,0.010000,0.001542,"Mus musculus small nucleolar RNA, H/ACA box 7 ..."
12,Gm12238,17.668800,0.010000,0.000566,NaN
11,Mir1966,108.666000,0.010000,0.000092,NaN

In [10]:
df.to_excel('2xfold_gene_description_result.xlsx')