# Hello, Pandas!

In [1]:
import pandas as pd
import copy

In [2]:
df = pd.read_csv('../data/gapminder.tsv', sep='\t') #loading tsv file. tsv means Tab Separated Value

In [3]:
#dir(df)

In [4]:
print(df.head()) #Print first 5 rows
print(type(df)) #dataFrame is 
print(df.shape)
#print(dir(df))

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
<class 'pandas.core.frame.DataFrame'>
(1704, 6)

In [5]:
print(df.tail()) #print last 5 rows

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

# Columns

In [6]:
print(type(df['country'])) # 'Series' is a column. DataFrame is made of columns.
print(df['country'].head(n=3))

<class 'pandas.core.series.Series'>
0    Afghanistan
1    Afghanistan
2    Afghanistan
Name: country, dtype: object

In [7]:
print(df.columns) # a list of columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [8]:
print(df.dtypes) # a dataType of each column

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [9]:
country_column = df['country'] #making reference to country column (it affects original column)
print(type(country_column))
country_column.head()
country_column[0] = 'Pandasian'
print(df.head(), end='\n'*2)

year_column = copy.deepcopy(df['year']) #deepcopying year column (it does not affect original column)
year_column[0] = 2019
print(df.head(), end='\n'*2)

<class 'pandas.core.series.Series'>
       country continent  year  lifeExp       pop   gdpPercap
0    Pandasian      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

       country continent  year  lifeExp       pop   gdpPercap
0    Pandasian      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [10]:
year_n_country = df[['country', 'year']] #making reference to multiple columns
print(year_n_country.head(), end='\n'*2)
year_n_country_deep = copy.deepcopy(df[['country', 'year']]) #deepcopying multiple columns
print(year_n_country_deep.head())

       country  year
0    Pandasian  1952
1  Afghanistan  1957
2  Afghanistan  1962
3  Afghanistan  1967
4  Afghanistan  1972

       country  year
0    Pandasian  1952
1  Afghanistan  1957
2  Afghanistan  1962
3  Afghanistan  1967
4  Afghanistan  1972

# Rows

In [11]:
print(df.tail(n=1)) #printing last row
type(df.tail(n=1))

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

pandas.core.frame.DataFrame

In [12]:
length = df.shape[0]
print(df.loc[length-1]) #printing last row
type(df.loc[length-1])

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

pandas.core.series.Series

In [13]:
#print(df.loc[-1])  causes an error

In [14]:
print(df.loc[[0,1]]) #print multiple rows

       country continent  year  lifeExp      pop   gdpPercap
0    Pandasian      Asia  1952   28.801  8425333  779.445314
1  Afghanistan      Asia  1957   30.332  9240934  820.853030

In [15]:
print(df.iloc[-1]) #does not cause an error

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [16]:
print(df.iloc[[0,-1]])

        country continent  year  lifeExp       pop   gdpPercap
0     Pandasian      Asia  1952   28.801   8425333  779.445314
1703   Zimbabwe    Africa  2007   43.487  12311143  469.709298

# Slicing

In [18]:
print(df.loc[:, ['year', 'pop']].head(n=3))
subset = df.loc[:3]
print(subset[['year', 'pop']])

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966

# Range

In [22]:
range_ = range(2) #first two columns
print(df.iloc[:, range_].head(n=2))

       country continent
0    Pandasian      Asia
1  Afghanistan      Asia

In [20]:
#df.iloc[:, ['year']] error.
df.loc[:, ['year']].head(n=3)

   year
0  1952
1  1957
2  1962