# DataFrame

In [1]:
import pandas as pd

In [2]:
s = pd.Series(['Jade', 'Sally'])
s

0     Jade
1    Sally
dtype: object

In [22]:
df = pd.DataFrame(data={'Job' : ['Teacher', 'Student'], 'Born' : [2000, 1996]}, index=['Jade', 'Sally'])
df

           Job  Born
Jade   Teacher  2000
Sally  Student  1996

In [23]:
#if you ensure the order of dictionary, use OrderedDict
from collections import OrderedDict
pd.DataFrame(OrderedDict({'Job' : ['Teacher', 'Student'], 'Born' : [2000, 1996]}))

       Job  Born
0  Teacher  2000
1  Student  1996

## Series

In [11]:
s = pd.Series(['Jade', 'Sally'], index=['Teacher', 'Student'])
s

Teacher     Jade
Student    Sally
dtype: object

In [12]:
Jade = df.loc['Jade']
print(Jade)

Job     Teacher
Born       2000
Name: Jade, dtype: object

In [13]:
Jade.index #Index Object

Index(['Job', 'Born'], dtype='object')

In [14]:
print(Jade.keys()) #Function

Index(['Job', 'Born'], dtype='object')

In [15]:
print(Jade.values) #List

['Teacher' '2000']

In [29]:
Born = df['Born']
print(Born.mean())
print(Born.std())
print(Born.min())
print(Born.max())
print(Born.sort_values())

1998.0
2.8284271247461903
1996
2000
Sally    1996
Jade     2000
Name: Born, dtype: int64

### To be continued...